<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
            <table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Tourney Name	</th>
            <th>Tourney Start Date</th>
            <th>Registration End Date</th>
            <th>Prize</th>
            <th>Fee</th>
            <th>No. of Tickets</th>
            <th>Action</th>
           <!-- <th style="width: 10%"></th>-->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td>{{user.startdate | date:'medium'}}</td>
            <td>{{user.registrationenddate | date:'medium'}}</td>
            <td>{{user.amount}}</td>
            <td>{{user.ticketprice}}</td>
            <td><select  class="form-control">
                <option value="">Select Tickets</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select></td>
            <td>
                

                <div *ngIf="user.orders; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock>
                    <button routerLink="/play-game/{{user._id}}" class="btn btn-success" >Start Game</button>
                </ng-template>
                <ng-template #elseBlock>
                    <button (click)="joibGame($event, user)" [disabled]="clicked" class="btn btn-primary" >Join</button>
                </ng-template>

            </td>
            
           
        </tr>
        <tr *ngIf="!users">
            <td colspan="6" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>