<div class="p-4">
    <div class="container">
        <div class="row">
            <h1>Tourney : {{tname}}</h1>
        </div>
        <div class="row">
            <p class="text-center">Total Seconds: {{seconds}}</p>
        </div>
<div class="row">
    <div class="col-md-6">
        <circle-progress
        [percent]="tp"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="false"
      ></circle-progress> 
          <span>{{currentNumber}}</span>
      
          <div class="row">
              <p>Last 5 No</p>
          </div>
          <div class="row">
              <p> 
                       <span *ngFor="let n of lastfive;" class="last_no">{{n}}</span>
              </p>
          </div>
          <div class="row"><h3>Time Left:           <countdown [config]="{ leftTime: remaintime, format: 'm:s' }"></countdown>
          </h3></div>
    </div>
    <div class="col-md-6">
        <div class="row">
        <h2>Tickets</h2>

        <div  *ngFor="let user of alltikets; let a = index">
            <p>Ticket -{{mytickets[a]._id}}</p>
            <div class="col-md-9">
                <table id="{{mytickets[a]._id}}">
                    <tr *ngFor='let in of [0,1,2]; let m = index'>
                        <td *ngFor='let in of [0,1,2,3,4,5,6,7,8]; let i = index' class="{{ 'object-' + m }}" [ngSwitch]='m'>
                                <div *ngSwitchCase="'0'" class="{{m}}_{{mytickets[a]._id}}" (click)="clickedvalue($event,user[i],0,i+1,mytickets[a]._id)" [ngClass]="{'sel_active': allcolumnres[a][i] == user[i] && allcolumnres[a][i] != 0}"><span *ngIf="user[i] != '0'" >{{user[i]}} </span></div>
                                <div *ngSwitchCase="'1'" class="{{m}}_{{mytickets[a]._id}}" (click)="clickedvalue($event,user[i+9],1,i+10,mytickets[a]._id)" [ngClass]="{'sel_active': allcolumnres[a][i+9] == user[i+9] && allcolumnres[a][i+9] != 0}"><span *ngIf="user[i+9] != '0'"  >{{user[i+9]}}</span></div>
                                <div *ngSwitchCase="'2'" class="{{m}}_{{mytickets[a]._id}}" (click)="clickedvalue($event,user[i+18],2,i+19,mytickets[a]._id)" [ngClass]="{'sel_active': allcolumnres[a][i+18] === user[i+18] && allcolumnres[a][i+18] != 0}"><span *ngIf="user[i+18] != '0'" >{{user[i+18]}}</span></div>
                       </td>
                    </tr>
                    
                </table>
              
            </div>
            <div class="col-md-3">
                <ul>
                    <li>  <span  (click)="getcount(mytickets[a]._id,3)">Fast Five</span></li>    
                    <li>  <span  (click)="getcount(mytickets[a]._id,0)">First Row</span></li> 
                    <li>  <span  (click)="getcount(mytickets[a]._id,1)">Second Row</span></li>
                    <li>  <span  (click)="getcount(mytickets[a]._id,2)">Third Row</span></li> 
                    <li>  <span  (click)="getcount(mytickets[a]._id,4)">Full Housie</span></li>              
                </ul>
               
                
                
               
                
            </div>

            <hr>
        </div>
        </div>
    </div>
</div>


 
</div>
</div>
