<div class="row">
    <div class="col-md-6">
        <circle-progress
        [percent]="tp"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="false"
      ></circle-progress> 
          <span>{{currentNumber}}</span>
      
          <div class="row">
              <h2>Last 5 No</h2><br>
      <span *ngFor="let n of lastfive;" class="last_no">{{n}}</span>
          </div>
          <countdown [config]="{ leftTime: remaintime, format: 'm:s' }"></countdown>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Tickets</h2>

        <div  *ngFor="let user of alltikets; let a = index">
            <h2>Ticket -{{mytickets[a]._id}}</h2>
            <table>
                <tr *ngFor='let in of [0,1,2]; let m = index'>
                    <td *ngFor='let in of [0,1,2,3,4,5,6,7,8]; let i = index' class="{{ 'object-' + a + m + i }}">
                        <div [ngSwitch]='m'>
                            <div *ngSwitchCase="'0'"><span *ngIf="user[i] != '0'" (click)="clickedvalue(user[i],0,i+1,mytickets[a]._id)" [class.active]="selectedIndex === i">{{user[i]}}</span></div>
                            <div *ngSwitchCase="'1'"><span *ngIf="user[i+9] != '0'" (click)="clickedvalue(user[i+9],1,i+10,mytickets[a]._id)" >{{user[i+9]}}</span></div>
                            <div *ngSwitchCase="'2'"><span *ngIf="user[i+18] != '0'" (click)="clickedvalue(user[i+18],2,i+19,mytickets[a]._id)">{{user[i+18]}}</span></div>
                          </div>
                          
                          
                    
                    </td>
                </tr>
                
            </table>
            <hr>
        </div>
    </div>
</div>

<h1>Tourney : {{tname}}</h1>
<p>Total Seconds: {{seconds}}</p>


