/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr.css';
a { cursor: pointer }

.app-container {
    min-height: 320px;
    overflow: hidden;
}

.btn-delete-user {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
}
.time-sec{
    display: inline-block;
    color: #fff;
    width: 100%;
    text-align: right;
}
.navbar-dark.bg-dark{
    background-color:#0d2144 !important;
}
.top-bar{
    background: #dfc180;
    padding: 10px;
}
.app-container.bg-light{
    background: #080d1a !important;
    padding-top: 30px;
}
body{
    background: #080d1a !important;   
}
.table{
    margin-bottom:0px;
}
.card .card-body h1{
    font-size: 28px;
    margin-bottom: 20px;
}
.winner{
    margin: 0 auto;
margin-top: 10px;
}
.title{
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.table td, .table th{
    vertical-align: middle;
}
.card{
    background: #0a2144;
    border: 0;
    border-top: 10px solid #132e5f;
    border-radius: 10px;
    color:#fff;
}
.table{
    color:#fff;
}
hr{
    border-color:rgb(255 255 255 / 43%) !important;
}
.title-l{
    text-transform: uppercase;
    font-size: 22px;
    color: #005daa;
    margin-bottom: 15px;
}
.form-control{
    background-color: transparent;
}
.form-control:focus{
    background-color: transparent;
}